
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background-color: black;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #0c0c0c;
    transition: box-shadow 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container:hover {
    box-shadow: 0 8px 25px rgba(255, 68, 68, 0.8);
}

.logo {
    color: rgb(255, 68, 68);
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.logo h1 {
    margin: 0;
    padding: 0;
}

.logo:hover {
    color: rgb(255, 102, 102);
    transform: scale(1.1);
    text-shadow: rgba(255, 68, 68, 0.5) 0px 0px 20px;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.head {
    color: rgb(200, 80, 80);
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
    text-shadow: 0 2px 4px rgba(200, 80, 80, 0.3);
}

.par {
    color: white;
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
    font-style: italic;
}


.menu {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    margin: 0 15px;
    font-size: 16px;
}
ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
ul li a:hover,
ul li a:focus,
ul li a:active {
    background-color: #210e0e;
    border-radius: 20px;
    color: rgb(255, 68, 68);
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(28, 25, 25, 0.2);

}
ul li a::after {
    content: "";
    position: absolute;
    display: block;
    right: 15px;
    left: 15px;
    bottom: 8px;
    height: 2px;
    background-color: rgba(255, 68, 68);
    border-radius: 2px;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(.4,0,.2,1);
}
ul li a:hover::after,
ul li a:focus::after,
ul li a:active::after {
    transform: scale(1);
}

.profile {
    position: relative;
    padding: 30px;
    max-width: 960px;
    margin: 40px auto;
    border-radius: 20px;
    border: 1px solid rgb(180, 70, 70, 0.25);
    box-shadow: 0 0 10px rgba(180, 70, 70, 0.15);
    background-color: #1c1b1b;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}
.profile:hover {
    transform: translateY(-2px);
    border: 1.1px solid rgb(180, 70, 70);
    background-color: #2c2a2a;
}

.profile::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, rgba(255, 68, 68, 0.3) 35%, rgba(255, 68, 68, 0.7), 50%, rgba(255, 68, 68, 0.3), 65%, transparent 100%);
    z-index: 2;
}
  

.profile.flash-right::before {
    animation: pulseGlowRight 0.4s linear forwards;
}

.profile.flash-left::before {
    animation: pulseGlowLeft 0.4s linear forwards;
}


@keyframes pulseGlowRight {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0.7;
    }
}

@keyframes pulseGlowLeft {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: -100%;
        opacity: 0.7;
    }
}
  
.profile:hover::after {
    animation: stars-flash 0.5s;
}
.profile-dot-star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgba(255,68,68,0.85);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    animation: dot-fade 1.5s infinite;
    transition: opacity 0.3s;
}

@keyframes stars-flash {
    0% { opacity: 0; }
    20% { opacity: 0.7; }
    80% { opacity: 0.7; }
    100% { opacity: 0; }
}

.profile:hover {
    box-shadow: 0 8px 25px rgba(255, 68, 68, 0.8);
    transform: translateY(-2px);
}

.profile-title {
    color: rgb(200, 80, 80);
    font-size: 24px;
}

.profile-text {
    line-height: 1.6;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: justify;
}
.card{
    flex-wrap: wrap;
    background-color: rgb(20, 19, 19);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 100px auto;
    padding: 20px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.achievements {
    position: relative;
    padding: 30px;
    max-width: 960px;
    margin: 40px auto;
    border-radius: 20px;
    border: 1px solid rgb(180, 70, 70, 0.25);
    box-shadow: 0 0 10px rgba(180, 70, 70, 0.15);
    background-color: #1c1b1b;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.achievements:hover {
    transform: translateY(-2px);
    border: 1.1px solid rgb(180, 70, 70);
    background-color: #2c2a2a;
}

.achievements-title {
    color: rgb(200, 80, 80);
    font-size: 24px;
    margin-bottom: 20px;
}

.achievements-list {
    list-style: none;
    padding: 0;
}

.achievements-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(200, 80, 80, 0.2);
    font-size: 16px;
    line-height: 1.6;
}

.achievements-list li:last-child {
    border-bottom: none;
}
.achievements::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 68, 68, 0.3) 35%, rgba(255, 68, 68, 0.7) 50%, rgba(255, 68, 68, 0.3) 65%, transparent 100%);
    z-index: 2;
}

.achievements.flash-right::before {
    animation: pulseGlowRight 0.4s linear forwards;
}

.achievements.flash-left::before {
    animation: pulseGlowLeft 0.4s linear forwards;
}

.achievements:hover {
    box-shadow: 0 8px 25px rgba(255, 68, 68, 0.8);
    transform: translateY(-2px);
}


.education {
    position: relative;
    padding: 30px;
    max-width: 960px;
    margin: 40px auto;
    border-radius: 20px;
    border: 1px solid rgb(180, 70, 70, 0.25);
    box-shadow: 0 0 10px rgba(180, 70, 70, 0.15);
    background-color: #1c1b1b;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}
.education:hover {
    transform: translateY(-2px);
    border: 1.1px solid rgb(180, 70, 70);
    background-color: #2c2a2a;
}

.education::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 68, 68, 0.3) 35%, rgba(255, 68, 68, 0.7) 50%, rgba(255, 68, 68, 0.3) 65%, transparent 100%);
    z-index: 2;
}

.education.flash-right::before {
    animation: pulseGlowRight 0.4s linear forwards;
}

.education.flash-left::before {
    animation: pulseGlowLeft 0.4s linear forwards;
}

.education:hover {
    box-shadow: 0 8px 25px rgba(255, 68, 68, 0.8);
    transform: translateY(-2px);
}



.education-title {
    color: rgb(200, 80, 80);
    font-size: 24px;
    margin-bottom: 20px;
}

.education-list {
    list-style: none;
    padding: 0;
}

.education-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(200, 80, 80, 0.2);
    font-size: 16px;
    line-height: 1.6;
}

.education-list li:last-child {
    border-bottom: none;
}


.area {
    position: relative;
    padding: 30px;
    max-width: 960px;
    margin: 40px auto;
    border-radius: 20px;
    border: 1px solid rgb(180, 70, 70, 0.25);
    box-shadow: 0 0 10px rgba(180, 70, 70, 0.15);
    background-color: #1c1b1b;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}
.area:hover {
    transform: translateY(-2px);
    border: 1.1px solid rgb(180, 70, 70);
    background-color: #2c2a2a;
}

.area::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 68, 68, 0.3) 35%, rgba(255, 68, 68, 0.7) 50%, rgba(255, 68, 68, 0.3) 65%, transparent 100%);
    z-index: 2;
}

.area.flash-right::before {
    animation: pulseGlowRight 0.4s linear forwards;
}

.area.flash-left::before {
    animation: pulseGlowLeft 0.4s linear forwards;
}

.area:hover {
    box-shadow: 0 8px 25px rgba(255, 68, 68, 0.8);
    transform: translateY(-2px);
}



.area-title {
    color: rgb(200, 80, 80);
    font-size: 24px;
    margin-bottom: 20px;
}

.area-list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.area-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(200, 80, 80, 0.2);
    font-size: 16px;
    line-height: 1.6;
}

.area-list li:last-child {
    border-bottom: none;
}

.role {
    color: rgb(200, 80, 80);
    font-size: 24px;
    margin: 30px 0 20px 0;
}

.role-list {
    list-style: none;
    padding: 0;
}

.role-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(200, 80, 80, 0.2);
    font-size: 16px;
    line-height: 1.6;
}

.role-list li:last-child {
    border-bottom: none;
}



